.arrows {
  position: absolute;
  right: 2%;
  top: 45%;
  cursor: pointer;

  span {
    position: relative;

    &:after {
      position: absolute;
      content: url("../../assets/images/r-black-circle-arrow.png");
    }
  }

  &__prev {
    position: fixed;
    top: 60%;
    left: 2%;
  }
  &__next {
    position: fixed;
    top: 60%;
    right: 3%;
  }
}