.ticket-label {

  padding: 10px 11px;


  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.29;
  letter-spacing: normal;
  border: none;
  cursor: pointer;
}

.ticket-label.Premiere {
  color: #b5b5ff;
  background-color: #00005b;
}

.ticket-label.Photoshop {
  background-color: #001e36;
  color: #31a8ff;
}

.ticket-label.Illustrator {
  background-color: #330000;
  color: #ff9a00;
}

.ticket-label.trans-border {
  border: 1px solid #ff2e43;
  background-color: transparent;
  color: #ff2e43;
  margin-right: 10px;
  margin-bottom: 10px;
}